body {
    width: 50em;
    margin: 0 auto;
    font-family: Piazzolla, Didot, serif;
  }
  nav {
    margin-top: 1em;
  }
  section {
    margin-bottom: 1.4em;
  }
  p, li {
    font-size: 1.2em;
  }
  summary {
    font-size: 1.2em;
    font-weight: bold;
  }
  table {
    margin-bottom: 1.5em;
  }
  table, th, td {
    border: 1px solid black;
  }
  aside {
    margin: 1em;
    background: rgb(239, 239, 240);
    padding: 0.5em 2em;
  }
  .codeblock {
    background-color: black;
    color: white;
    max-width: 80ch;
    margin: 1em;
    padding: 1em;
    overflow-wrap: break-word;
  }